<ion-view view-title="BioADNB ">
  <ion-content class="padding">
  	<center><h1>VIDEO DEL AGUA </h1></center>
    <center>
      <p>
      El cuidado del agua es una responsabilidad que todo ser humano tiene socialmente y desde cada hogar se puede contribuir con simples prácticas de consumo eficiente para que las futuras generaciones puedan contar con este recurso indispensable para la vida,
      devemos de cuidar el agua ya que es un recurso fundamental para todos los humanos<a t</a>.
      </p>
    </center>
        </div>
 <div class="container">
   <div class="row">
       <div class="col col-25"></div>
    <div class="col col-60">
       	<iframe width="560" height="315" src="https://www.youtube.com/embed/HccXKg8p_Kc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
     </div>
   </div>
 </div>
 </ion-content>
</ion-view>
