<ion-view view-title="Infografias">
  <ion-content>
  	<center>
    <!--Infografias-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="cent">INFOGRAFIAS</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <center><img height="270" width="270" src="img/imagen1.png"></center>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center><img height="350" width="250" src="img/sexual.png"></center>
        </div>
      </div>
    </div>
</center>
  </ion-content>
</ion-view>

